body {
    margin: 0;
    overflow: hidden;
    background: black;
}

canvas {
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
    display: block;
}

mode {
    display:flex;
    justify-content: center;
    align-items: center;
    height:100vh;
    font-family: Times;
    color: white;
}
