body {
    margin: 0;
    overflow: hidden;
    background: linear-gradient(#000015, #001133);
    transition: background 0.5s ease;
}

canvas {
    position: absolute;
    background: transparent;
    z-index: 1;
    top: 0;
    left: 0;
    display: block;
    pointer-events: none;
}

#mode, #time, #gravity, #rainbow{
    position: absolute;
    left: 50%;
    display:flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    padding: 20px 40px;
    font-family: Times;
    color: yellow;
    cursor: pointer;
    background: purple;
    border: 2px salmon;
    border-radius: 10px;
    transition: .1s;
    transform: translateX(-50%);
}

#mode {
    top: 50%;
}

#time {
    top: 65%;
}

#gravity {
    top: 80%;
}

#rainbow {
    top: 35%;
}

#mode:hover, #time:hover, #gravity:hover, #rainbow:hover{
    transform: scale(1.1) translateX(-50%);
}