body {
    margin: 0;
    overflow: hidden;
    background: black;
}

canvas {
    display: block;
}

mode {
    display:flex;
    justify-content: center;
    align-items: center;
    height:100vh;
}
